<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{#if title}}{{title}}{{else}}My Website{{/if}}</title>
    {{> head}}
</head>
<body>

{{> header}}


{{content}}


{{> footer}}

</body>
</html>